body
  background: #eee
  font: 12px "Lucida Grande", Arial, sans-serif
  width: 100%
  overflow-x: hidden

form
  margin: 1em

input, textarea
  margin: 0.5em
  width: 90%
  padding: 1em
  font: 15px/20px Monaco, "Courier New", monospace

form.search input
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

.container
  background: #fff
  padding: 1em
  margin: auto
  clear: both


ul.login-logout
  list-style: none
  margin: auto

ul.login-logout li
  float: left
  margin: 1em

ul.login-logout
  form
    margin: 0em
  input
    margin: 0em
    padding: 0.2em 1em
    font: 12px/14px Monaco, "Courier New", monospace
  


@media screen and (min-width: 768px)
  .container,
  ul.login-logout
    width: 80%
  

.strip
  width: 100%
  padding: 0em 1em


