// Public Domain (-) 2011 The Togethr Authors.
// See the Togethr UNLICENSE file for details.

body
  font: 12px "Lucida Grande", Arial, sans-serif
  margin: 0
  padding: 0
  width: 100%
  overflow-x: hidden

form
  margin: 1em

input, textarea
  margin: 0.5em
  width: 90%
  padding: 1em
  font: 15px/20px Monaco, "Courier New", monospace

form.search input
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

.container
  background: #fff
  padding: 1em
  margin: auto
  clear: both

ul.login-logout
  list-style: none
  margin: auto

ul.login-logout li
  float: left
  margin: 1em

ul.login-logout
  form
    margin: 0em
  input
    margin: 0em
    padding: 0.2em 1em
    font: 12px/14px Monaco, "Courier New", monospace

#body
  background: #eee

#lb
  background-color: #1960bc
  background: -moz-linear-gradient(top, #4892d9, #1960bc)
  background: -webkit-gradient(linear, left top, left bottom, from(#4892d9), to(#1960bc))
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  border-radius: 20px
  -moz-box-shadow: 0 0 2px #000, inset 0 -7px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 30px rgba(63,137,205, 0.4)
  -webkit-box-shadow: 0 0 2px #000, inset 0 -7px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 30px rgba(63,137,205, 0.4)
  box-shadow: 0 0 2px #000, inset 0 -7px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 30px rgba(63,137,205, 0.4)
  height: 20px
  width: 0px

#lt
  color: #fff

#ltw
  font-size: 20px
  margin: 70px auto 60px auto
  width: 180px

#lw
  background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#2e2e2e))
  background: -moz-linear-gradient(top, #292929, #2e2e2e)
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  border: 4px solid #353535
  border: 4px solid rgba(255, 255, 255, 0.05)
  border-radius: 20px
  -moz-box-shadow: inset 0 2px 3.5px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: inset 0 2px 3.5px rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 2px 3.5px rgba(0, 0, 0, 0.2)
  height: 20px
  margin: 0px auto
  width: 240px

@media screen and (min-width: 768px)
  .container,
  ul.login-logout
    width: 80%

.strip
  width: 100%
  padding: 0em 1em
