<!DOCTYPE html>
<meta charset=utf-8>
<title>Togethr</title>
<style>%(init_css)s</style>
<body><script>ASSETS=%(assets)s;%(init_js)s</script>
<noscript>Sorry, your browser needs <a href=http://enable-javascript.com>JavaScript enabled</a>.</noscript>
