<!DOCTYPE html>
<meta charset=utf-8>
<title>Togethr</title>
<link rel=stylesheet href=/static/%(style_css)s>
<div id=body></div>
<script src=//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js></script>
<script src=/static/%(base_js)s></script>
<script src=/static/%(client_js)s></script>
<noscript>Sorry, your browser needs <a href=http://enable-javascript.com>JavaScript enabled</a>.</noscript>
