<!DOCTYPE html>
<meta charset=utf-8>
<title>Togethr</title>
<style>body{background:#252525}</style>
<script>ASSETS = %(assets)s</script>
<body>
<script src=/.static/%(init)s></script>
<noscript>Sorry, your browser needs <a href=http://enable-javascript.com>JavaScript enabled</a>.</noscript>
