<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="build/css/site.css" />
  </head>
  <body>
    <div class="page">
      <div class="head">
        <div class="bar top-bar">
          <div id="logo">
            Togethr.at
          </div>
          <div id="location-button" class="button location">
            +here
          </div>
        </div>
        <div class="bar search-bar">
          <div class="input search">
            <input type="text" name="search" />
            <div class="button advsearch">
              <a href="#advsearch">ADV</a>
            </div>
            <div class="button navigation">
              <a href="#bookmarks">BM</a>
            </div>
          </div>
        </div>
        <div class="bar title-bar">
          TITLE
        </div>
      </div>
      <div class="body">
        <div class="window main-window">
          MAIN WINDOW
        </div>
      </div>
      <div class="foot">
        <div class="bar menu-bar">
          MENU BAR
        </div>
      </div>  
    </div>
    
    <!--
    <script type="text/template" id="item-template">
      <div class="todo <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="todo-content"></div>
          <span class="todo-destroy"></span>
        </div>
        <div class="edit">
          <input class="todo-input" type="text" value="" />
        </div>
      </div>
    </script>
    -->
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript" 
        src="build/js/base.js">
    </script>
    <script type="text/javascript"
        src="build/js/app.js">
    </script>
  </body>
</html>