body {
  font-family: "Franklin Gothic", Verdana, Arial, sans-serif; 
  font-size: 100%;
  line-height: 1.125em;
  background-color: #ccc;
  color: #4D4D4D;
}
.streetview .canvas {
  width: 100%;
  height: 0px;
  position: absolute;
  z-index: -1;
}

a, a:active {
  text-decoration: none;
  color: #FFF;
}
a:hover, a:visited {
  color: #EEE;
}

.clear {
  clear: both;
}

.highlight {
  text-transform: uppercase;
  color: #3b75d1;
}

img.bg,  {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.section {
  margin-bottom: 15px;
  clear: both;
}

.wrap {
  display: block; 
  position: absolute; 
  min-height: 100%;
  width: 100%;
  margin-top: 20px;
}
.main {
  display: block; 
  margin-bottom: 2em;
}
.vertical-spacer {
  clear: both;
  margin: 7em;
}
.bottom {
  position: absolute; 
  display: block; 
  bottom: 0; 
  height: 2em;
  width: 100%;
}

.strap {
  width: 100%;
  padding: 1em 0;
}
.centred {
  margin: auto;
  max-width: 960px;
}

.top.strap {
  background-color: #4D4D4D;
  border-bottom: 2px solid #666;
  font-size: 90%;
  padding: 0.25em 0;
}
  .subline {
    color: #999;
  }
  .top .nav {
    float: right;
  }

.logo {
  border: 3px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 9px 20px 5px 20px;
  background-color: #3b75d1;
  width: 182px;
  text-transform: uppercase;
  font-size: 85%;
  text-align: center;
}
.share-links {
  float: right;
  border: 3px solid #3b75d1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 7px 20px 13px 20px;
  background-color: white;
  min-height: 48px;
  text-transform: uppercase;
  font-size: 85%;
  text-align: center;
}
.share-links .heading {
  margin-bottom: 3px;
}

.signup {
  border: 3px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  background-color: #333;
  -moz-opacity:.90; 
  filter:alpha(opacity=90); 
  opacity:.90;
}
.signup .left {
  width: 444px;
}
.signup .right {
  width: 444px;
  float: right;
}
.map .canvas {
  width: 444px;
  height: 204px;
}
.signup .blurb {
  font-size: 160%;
  line-height: 1.2em;
}
.signup .blurb p {
  font-size: 70%;
  padding: 1em 0em 1.25em 0em;
  line-height: 1.15em;
}
.signup .text-input {
  font-family: "Franklin Gothic", Verdana, Arial, sans-serif; 
  width: 295px;
  height: 36px;
  color: #999;
  font-size: 80%;
  padding: 0 10px 0 8px;
  border: 3px solid #E6E6E6;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-outline-radius: 5px;
  float: left;
}
.signup .text-input:focus {
  color: #333;
  font-size: 90%;
  border: 3px solid #3b75d1;
  outline: none;
}

.infowindow {
  width: 260px;
  color: #4D4D4D;
  font-size: 60%;
  min-height: 150px;
  line-height: 1.25em;
}
.infowindow .content, .infowindow .when {
  width: 240px;
}
.infowindow a {
  color: black;
  font-weight: bold;
}
.infowindow .when a {
  font-weight: normal;
  font-size: 80%;
  font-style: italic;
}

.stream {
  width: 464px;
  border: 3px solid #a5a6a7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 7px 0px 5px 0px;
  background-color: #575758;
  color: #fff;
}
.social {
  margin-right: 20px;
}
.social .like-box {
  padding: 10px 20px;
  background-color: white;
  height: 495px;
  overflow: hidden;
}

.coding {
  float: right;
}
.coding .commits {
  padding: 0px 20px 0px 20px;
  background-color: #fff;
  color: #4D4D4D;
  font-size: 75%;
  min-height: 515px;
}
.coding .commits li {
  border-bottom: 1px solid #dddcdd;
  padding: 10px 0px;
  clear: both;
}
.avatar-box {
  float: left;
  margin-right: 10px;
}
.avatar-box img {
  border: 1px solid #dddcdd;
  padding: 1px;
}
.coding .user a {
  color: #000;
  font-weight: bold;
}
.coding .update {
  float: left;
  width: 230px;
}
.coding .when, .coding .via {
  color: #acacac;
  font-size: 85%;
}
.coding .metadata {
  float: right;
  margin-left: 20px;
}
.coding .via a {
  color: #3b75d1;
  float: right;
}

.stream .header {
  padding: 0.25em 20px 0.75em 20px;
  border-bottom: 3px solid #a5a6a7;
  font-size: 105%;
}
.stream .footer {
  padding: 0.6em 20px 0.2em 20px;
  border-top: 3px solid #a5a6a7;
  font-size: 112%;
}

.bottom.strap {
  background-color: #a5a6a7;
  border-top: 1px solid #BBB;
  margin-bottom: 0px;
  font-size: 80%;
  color: #FFF;
}
  .bottom .label {
    float: right;
  }
  .bottom .nav {
    float: right;
  }
  .bottom .nav li {
    float: left;
    margin: 0 0.5em;
  }
