$footer_height: 35px

// Layout elements

// n.b.: `body` is used as the splash screen
body
  background-color: #F0F0F0
  background-image: url(/build/gfx/splash-320x480.png)
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center

#wrapper
  display: none

#scroll-wrapper
  display: block
  position: relative

.head
  

.body
  padding-bottom: 4em

.foot
  display: block
  position: fixed
  left: 0
  bottom: 0
  right: 0
  height: $footer_height
  overflow: hidden
  background-color: #ddd
  

.fixed.foot
  position: absolute
  overflow: hidden
  width: 100%
  border-left-width: 0
  border-right-width: 0
  z-index: 1000
  -webkit-transform: translateZ(0)
  opacity: .9



// Specifics

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


a
  outline: none
  text-decoration: none


.title
  display: inline-block
  font-size: 120%


.row
  display: block
  position: relative
  clear: both


.search-input
  margin: 0.4em 1em 0.5em 0em

.location-bar
  margin-top: 0.5em

.slider div.ui-slider
  margin: -0.35em 1.5em 0.5em 1em

.message-entry
  cursor: pointer
  border: 1px solid #ddd


// XXX basic layout hack for now
@media all and (min-width: 320px)
  .search-input .ui-input-search
    width: 140px
  .slider div.ui-slider
    width: 170px

@media all and (min-width: 480px)
  .slider div.ui-slider, .search-input .ui-input-search
    width: 280px

@media all and (min-width: 540px)
  .slider div.ui-slider, .search-input .ui-input-search
    width: 340px

@media all and (min-width: 768px)
  .slider div.ui-slider, .search-input .ui-input-search
    width: 468px

@media all and (min-width: 960px)
  .slider div.ui-slider, .search-input .ui-input-search
    width: 660px

@media all and (min-width: 1024px)
  .slider div.ui-slider, .search-input .ui-input-search
    width: 724px


#location-slider
  display: none


// Generic

.clear
  clear: both

.left
  float: left

.right
  float: right

.center
  margin: auto



// Windows

.window
  clear: both

.main-window
  margin: 0.5em
  padding: 1em
  border: 1px solid #ccc
  



// Bars

.bar
  clear: both

.top-bar
  

.search-bar
  

.title-bar
  

.menu-bar
  



// Buttons

.button
  //display: inline-block
  //padding: 0.2em
  //margin: 0.3em
  //border: 1px solid #ccc
  //-webkit-border-radius: 10px
  //-moz-border-radius: 10px
  //border-radius: 10px
  //cursor: pointer
  

.location-button
  

.advsearch-button
  

.navigation-button
  

.menu-icon
  

.home-button
  

.menu-highlight
  

.act-button
  

.settings-button
  



// Form elements

.input
  //padding: 0.2em
  //margin: 0.3em

.search-input
  

.error label
  color: red


// Location

.location-map
  width: 100%
  height: 200px



