
$footer_height: 50px

// Layout elements

body
  margin: 0
  padding: 0 0 $footer_height 0
  overflow: hidden

.page
  height: 100%
  overflow: auto

.head
  

.body
  

.foot
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: $footer_height
  background-color: #333
  a
    color: #fff
  


// Specifics

a
  outline: none
  text-decoration: none
  


.title
  display: inline-block
  font-size: 120%
  


// Generic

.clear
  clear: both

.left
  float: left

.right
  float: right

.center
  margin: auto


// Windows

.window
  clear: both

.main-window
  margin: 0.5em
  padding: 1em
  border: 1px solid #ccc
  



// Bars

.bar
  clear: both

.top-bar
  

.search-bar
  

.title-bar
  

.menu-bar
  



// Buttons

.button
  display: inline-block
  padding: 0.2em
  margin: 0.3em
  border: 1px solid #ccc
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  cursor: pointer
  

.location-button
  

.advsearch-button
  

.navigation-button
  

.menu-icon
  

.home-button
  

.menu-highlight
  

.act-button
  

.settings-button
  



// Form elements

.input
  padding: 0.2em
  margin: 0.3em

.search-input
  



